<h1 align='center'>Проекты и задачи</h1>

<div class="cleared"></div>
<div style="display: block;
                margin: 0 auto;
                width: 700px;">
<a href=/user/new><button>Добавить нового пользователя</button></a>&emsp;&emsp;
<a href=/user/task><button>Добавить новую задачу</button></a>&emsp;&emsp;
<a href=/user/project><button>Добавить новый проект</button></a>
</div>
<table align='center'>
  <colgroup style="background-color: #ddd;">
    <col>
    <col style="background-color: #ccc;">
    <col>
  </colgroup>
  <tbody>
    <tr>
      <th>Название проекта</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Удаление</th>
      <th>Изменение</th>
      <th>Добавление задачи</th>
      <th>Назначение на проект</th>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <th><button>Удалить</button></th>
      <th><button>Изменить</button></th>
      <th><button>Добавить задачу</button></th>
      <th><button>Назначить на проект</button></th>

    </tr>


  </tbody>
</table>
